<%= form_with(model: comentario, local: true) do |form| %>
  <% if comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
        <% comentario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :correousuario %>
    <%= form.text_field :correousuario %>
  </div>

  <div class="field">
    <%= form.label :restaurante %>
    <%= form.text_field :restaurante %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_field :comentario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
