<p id="notice"><%= notice %></p>

<p>
  <strong>Correousuario:</strong>
  <%= @comentario.correousuario %>
</p>

<p>
  <strong>Restaurante:</strong>
  <%= @comentario.restaurante %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @comentario.comentario %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
