<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :usuario %>
    <%= form.text_field :usuario %>
  </div>

  <div class="field">
    <%= form.label :nombreusuario %>
    <%= form.text_field :nombreusuario %>
  </div>

  <div class="field">
    <%= form.label :apellidousuario %>
    <%= form.text_field :apellidousuario %>
  </div>

  <div class="field">
    <%= form.label :correousuario %>
    <%= form.text_field :correousuario %>
  </div>

  <div class="field">
    <%= form.label :contrasenausuario %>
    <%= form.text_field :contrasenausuario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
